@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: Inter, system-ui;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
}

main {
  padding: 32px 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
  line-height: 1.25;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  opacity: 0.75;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.light__para {
  color: rgb(124, 139, 161);
}

button {
  cursor: pointer;
}

.purple {
  color: #6415ff;
}

.row {
  max-width: 1280px;
}

.row2 {
  max-width: 1024px;
}

.row,
.row2 {
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.container {
  padding: 96px 0;
}

.btn {
  padding: 12px 32px;
  background-color: #6415ff;
  border-radius: 100px;
  color: #f7fafc;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.purple__tag {
  letter-spacing: 0.1em;
  font-weight: 700;
  color: rgba(100, 21, 255, 1);
  margin-bottom: 16px;
}

/* NAV BAR  */

nav {
  display: flex;
  align-items: center;
}

nav .row {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.6px;
  color: #243e63;
  padding-bottom: 4px;
}

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
}

.nav__link a {
  color: #243e63;
}

.nav__link--primary a {
  color: #f7fafc;
  margin: 0;
}

.nav__link:nth-child(5) {
  margin-left: 48px;
  margin-right: 0px;
}

/* HEADER */

.blob1 {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.05;
  transform: translateX(calc(-200% / 4));
  height: 256px;
  width: 256px;
}

.header__description--wrapper {
  display: flex;
  padding: 96px 0;
}

.header__description {
  width: calc(100% / 2.4);
  display: flex;
  flex-direction: column;
}

.header__description--title {
  color: #1a202c;
}

.header__description--para {
  margin: 32px 0;
  color: #243e63;
}

.header__img--wrapper {
  display: flex;
}

.header__img {
  max-width: 768px;
  height: auto;
}

.customer__img {
  opacity: 0.5;
  margin-top: 16px;
  padding-right: 128px;
  display: flex;
  width: 100%;
}

.header__description--customers {
  margin-top: 80px;
}

.header__description--customers-title {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.description__input--wrapper {
  position: relative;
  max-width: 448px;
  display: flex;
  align-items: center;
}

.description__input {
  padding: 22px 0;
  padding-left: 32px;
  width: 100%;
  border-radius: 100px;
  border: 2px solid #e5e7eb;
  font-size: 16px;
  font-weight: 500;
}

.description__btn {
  position: absolute;
  right: 0;
  margin: 8px 8px 8px 0;
  padding: 14px 0;
  width: 160px;

  box-sizing: content-box;
  line-height: 1.5;
}

/*

FEATURES

*/

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__para {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  text-align: center;
  max-width: 576px;
  margin-bottom: 40px;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  width: calc(100% / 3);
  padding: 32px 24px;
}

.service__description {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 16px;
}

.img__wrapper {
  padding: 20px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 100%;
  display: flex;
}
.service__img {
  width: 24px;
  height: 24px;
}

.service__para {
  margin-top: 16px;
  font-size: 16px;
}

.feature__title {
  font-size: 24px;
  font-weight: 700;
  color: #243e63;
}

/*

QUALITY

*/

.quality__wrapper {
  display: flex;
}

.quality__description,
.values__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 64px;
  max-width: 576px;
}

.quality__img--wrapper,
.value__img--wrapper {
  width: 50%;
  max-width: 640px;
  position: relative;
  border: 1px solid rgb(229, 231, 235);
}

.quality__img {
  width: 100%;
  display: flex;
}

#quality .light__para {
  margin-top: 16px;
}

.quality__btn {
  margin-top: 32px;
  font-size: 14px;
  padding: 14px 0;
  width: 160px;
}

.grid1 {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  bottom: 0;
  color: #6415ff;
  fill: #6415ff;
  z-index: -1000;
  transform: matrix(1, 0, 0, 1, 40, 40);
}

/*

STEPS

*/

#steps .row {
  display: flex;
}
.steps__img--wrapper {
  max-width: 640px;
  width: 100%;
  position: relative;
}

.steps__img {
  width: 100%;
}

.grid2 {
  position: absolute;
  width: 160px;
  height: 160px;
  bottom: 0;
  left: 280px;
  z-index: -1;
  color: rgb(100, 21, 255);
  opacity: 0.15;
  transform: matrix(1, 0, 0, 1, -40, 40);
}

.steps__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
}

.step__title {
  color: #243e63;
  font-weight: 600;
  font-size: 20px;
}

.step__sub-title {
  margin-top: 12px;
  font-size: 14px;
  color: #718096;
  font-weight: 500;
  line-height: 2;
  max-width: 320px;
}

/*

VALUES

*/

#values .row {
  display: flex;
}

#values .light__para {
  margin-top: 16px;
}

.value__img--wrapper {
  border: none;
}

.value__img {
  width: 100%;
}

.values__showcase,
.value__top {
  display: flex;
}

.value {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.value__top {
  align-items: center;
}

.icon__wrapper {
  padding: 8px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
}

.dollar__icon {
  color: rgb(39, 103, 73);
  background-color: #9ae6b4;
}

.suitcase__icon {
  color: rgb(155, 44, 44);
  background-color: rgb(254, 178, 178);
}

.value__label {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(36, 62, 99);
}

.value__bottom {
  margin-top: 16px;
  font-weight: normal;
  color: rgb(113, 128, 150);
  line-height: 1.625;
}

.value__btn {
  width: 160px;
  margin-top: 36px;
}

/*

PRICING

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#pricing .light__para {
  max-width: 600px;
  margin-top: 16px;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  position: relative;
}

.plan__style {
  height: 8px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;  
}

.plan__style1 {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__style3 {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.plan__name {
  color: #1a202c;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

.plan__price {
  font-weight: 700;
  font-size: 48px;
  color: #1a202c;
  margin: 4px auto;
  text-align: center;
}

.plan__duration {
font-size: 16px;
font-weight: 700;
color: #a0aec0;
}