@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: Inter, system-ui;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
}

main {
  padding: 32px 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
  line-height: 1.25;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  opacity: 0.75;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.light__para {
  color: rgb(124, 139, 161);
}

button {
  cursor: pointer;
}

.purple {
  color: #6415ff;
}

.row {
  max-width: 1280px;
  
}

.row2 {
  max-width: 1024px;
}

.row,
.row2 {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  
}

.container {
  padding: 96px 0;
}

.btn,
.menu__link:last-child {
  padding: 12px 32px;
  background-color: #6415ff;
  border-radius: 100px;
  color: #f7fafc;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.purple__tag {
  letter-spacing: 0.1em;
  font-weight: 700;
  color: rgba(100, 21, 255, 1);
  margin-bottom: 16px;
  text-transform: uppercase;
}

/* NAV BAR  */

nav {
  display: flex;
  align-items: center;
}

nav .row {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.6px;
  color: #243e63;
  padding-bottom: 4px;
}

.logo:hover {
  color: #6415ff;
  cursor: pointer;
}

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}



.nav__links {
  display: flex;
  align-items: center;
}

.nav__link:not(:last-child):hover a {
  color: #6415ff;
  text-decoration: underline solid #6415ff 2px;
  text-underline-position: under;
}

.nav__link a, .menu__link{
  color: #243e63;
  padding-bottom: 8px;
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
}

.nav__link--primary a {
  color: #f7fafc;
  margin: 0;
}

.btn:hover {
  background-color: #5411db;
}

.nav__link:nth-child(5) {
  margin-left: 48px;
  margin-right: 0px;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  z-index: 1000;
  visibility: hidden;
  transform: translateX(400%);
  transition: all 400ms ease;
  border: 1px solid rgb(229, 231, 235);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  padding-bottom: 4px;
  margin: 9px 0px;
  font-size: 18px;
}

.menu__link:last-child {
  margin: 9px 0px;
}

.menu__btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu--open .menu {
  visibility: visible;
  transform: translateX(0);
}

.nav__menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: none;
}

/* HEADER */

.blob1 {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.05;
  transform: translateX(calc(-200% / 4));
  height: 256px;
  width: 256px;
}

.header__description--wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 96px 0;
}

.header__description {
  width: calc(100% / 2.4);
  
}

.header__description--title {
  color: #1a202c;
}

.header__description--para {
  margin: 32px 0;
  color: #243e63;
}

.header__img--wrapper {
  display: flex;
}

.header__img {
  max-width: 768px;
  height: auto;
}

.customer__img {
  opacity: 0.5;
  margin-top: 16px;
  padding-right: 128px;
  display: flex;
  width: 100%;
}

.header__description--customers {
  margin-top: 80px;
}

.header__description--customers-title {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.description__input--wrapper {
  position: relative;
  max-width: 448px;
  display: flex;
  align-items: center;
}

.description__input {
  padding: 22px 0;
  padding-left: 32px;
  width: 100%;
  border-radius: 100px;
  border: 2px solid #e5e7eb;
  font-size: 16px;
  font-weight: 500;
}

.description__btn {
  position: absolute;
  right: 0;
  margin: 8px 8px 8px 0;
  padding: 14px 0;
  width: 160px;
  box-sizing: content-box;
  line-height: 1.5;
}

/*

FEATURES

*/

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__para {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  text-align: center;
  max-width: 576px;
  margin-bottom: 40px;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  width: calc(100% / 3);
  padding: 32px 24px;
}

.service__description {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 16px;
}

.img__wrapper {
  padding: 20px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 100%;
  display: flex;
}
.service__img {
  width: 24px;
  height: 24px;
}

.service__para {
  margin-top: 16px;
  font-size: 16px;
}

.feature__title {
  font-size: 24px;
  font-weight: 700;
  color: #243e63;
}

/*

QUALITY

*/

.quality__wrapper {
  display: flex;
}

.quality__description,
.values__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 64px;
  max-width: 576px;
}

.quality__img--wrapper,
.value__img--wrapper {
  width: 50%;
  max-width: 640px;
  position: relative;
  border: 1px solid rgb(229, 231, 235);
}

.quality__img {
  width: 100%;
  display: flex;
}

#quality .light__para {
  margin-top: 16px;
}

.quality__btn {
  margin-top: 32px;
  font-size: 14px;
  padding: 14px 0;
  width: 160px;
}

.grid1 {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  bottom: 0;
  color: #6415ff;
  fill: #6415ff;
  z-index: -1000;
  transform: matrix(1, 0, 0, 1, 40, 40);
}

/*

STEPS

*/

#steps .row {
  display: flex;
  flex-wrap: wrap;
}

.steps__img--wrapper {
  max-width: 640px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.steps__img {
  width: 100%;
}

.grid2 {
  position: absolute;
  width: 160px;
  height: 160px;
  bottom: 0;
  left: 280px;
  z-index: -1;
  color: rgb(100, 21, 255);
  opacity: 0.15;
  transform: matrix(1, 0, 0, 1, -40, 40);
}

.steps__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
}

.step__title {
  color: #243e63;
  font-weight: 600;
  font-size: 20px;
}

.step__sub-title {
  margin-top: 12px;
  font-size: 14px;
  color: #718096;
  font-weight: 500;
  line-height: 2;
  max-width: 320px;
}

/*

VALUES

*/

#values .row {
  display: flex;
}

#values .light__para {
  margin-top: 16px;
}

.value__img--wrapper {
  border: none;
}

.value__img {
  width: 100%;
}

.values__showcase,
.value__top {
  display: flex;
}

.value {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.value__top {
  align-items: center;
}

.icon__wrapper {
  padding: 8px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
}

.dollar__icon {
  color: rgb(39, 103, 73);
  background-color: #9ae6b4;
}

.suitcase__icon {
  color: rgb(155, 44, 44);
  background-color: rgb(254, 178, 178);
}

.value__label {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(36, 62, 99);
}

.value__bottom {
  margin-top: 16px;
  font-weight: normal;
  color: rgb(113, 128, 150);
  line-height: 1.625;
}

.value__btn {
  width: 160px;
  margin-top: 36px;
}

/*

PRICING

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#pricing .light__para {
  max-width: 600px;
  margin-top: 16px;
}

#pricing button {
  border-radius: 9999px;
  border: none;
  text-transform: uppercase;
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 700;
  color: #f7fafc;
}

.plan__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 64px;
}

.plans {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
}

.plan,
.plan2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 64px 32px 10px 0;
  border-radius: 8px;
  max-width: 384px;
}

.plan2 {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  color: #f7fafc;
}

.plan__style {
  height: 8px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.plan__style1,
.plan1__button {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__style3,
.plan3__button {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan2__button {
  color: #6415ff !important;
}

.plan__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
}

.plan__name--black,
.plan__price--black {
  color: #1a202c;
}

.plan__name {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

.plan__price {
  font-weight: 700;
  font-size: 48px;
  margin: 4px auto;
  text-align: center;
}

.plan__duration {
  font-size: 16px;
  font-weight: 700;
  color: #a0aec0;
}

.plan__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  max-width: 384px;
  color: #718096;
}

.plan__description--white {
  color: #f7fafc;
}

.plan__feature {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.plan__feature--primary {
  font-weight: 700;
  font-size: 20px;
}

.plan .plan__feature--primary {
  color: #1a202c;
}

.plan__border {
  border-top: 2px solid #e5e7eb;
  height: 0.01px;
}

/*

TESTIMONIALS


*/

#testimonials .row {
  display: flex;
}

#testimonials .light__para {
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 40px;
}

.testimonials__img--wrapper {
  width: 50%;
  max-width: 640px;
}

.testimonials__img {
  width: 100%;
}

.testimonials__description {
  margin: 0;
  padding-left: 64px;
  max-width: 640px;
}

.fa-star {
  color: #fabf2a;
}

.testimonial {
  margin-top: 24px;
}

.testimonial__stars {
  max-width: 576px;
  display: flex;
}

.testimonial__title {
  margin-top: 16px;
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
}

.testimonial__para {
  margin: 16px 0 40px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  color: #4a5568;
}

.test__person {
  display: flex;
  align-items: center;
  justify-content: start;
}

.test__person--img {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
}

.test__person--img-wrapper {
  margin-right: 16px;
}

.test__person--name {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 8px;
}

.test__person--career {
  font-size: 16px;
  color: #7c8ba1;
  font-weight: 500;
}

/*

START

*/

#start h3 {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
}

.start__container {
  background-color: #6415ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 282px;
  border-radius: 8px;
  margin-bottom: 80px;
}

.start__row {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1024px;
  padding: 0 32px;
}

.start__row--left {
  width: 50%;
}

.start__row--right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.start__btn {
  padding: 20px 40px;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 700;
  color: #f7fafc;
  border: none;
  max-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1 {
  background-color: #f56565;
  margin-right: 32px;
}

.btn2 {
  background-color: #6415ff;
  border: 1px solid #f7fafc;
}

/*

FOOTER

*/

footer {
  width: 100%;
  min-height: 522px;
  background-color: #6415ff;
  padding: 96px 32px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #f7fafc;
}

.footer__column--header {
  font-weight: 700;
  font-size: 16px;
}

.footer__column--links {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.footer__link {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
}

.footer__border {
  border-top: 2px solid rgb(116, 44, 255);
  width: 100%;
  margin: 64px 0;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
}

.footer__socials--logo {
  display: flex;
  align-items: center;
}

.footer__socials--logo img {
  width: 32px;
  height: 32px;
}

.footer__socials--logo h3 {
  font-size: 20px;
  color: #f7fafc;
  margin-left: 8px;
  font-weight: 900;
}

.footer__copyright {
  font-size: 16px;
  color: #cbd5e0;
}

.footer__socials--list {
  display: flex;
}

.social__logo {
  color: #1a202c;
  background-color: #f7fafc;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .nav__menu {
    display: inline;
  }

  .nav__links {
    display: none;
  }

  .header__description--wrapper {
    flex-direction: column;
    align-items: center;    
    margin: 0 auto;
  }

  .header__description {
    width: 100%;  
  }

  .header__description--title {
    font-size: 32px;
    text-align: center;
  }

  .header__description--para {
    font-size: 16px;
    text-align: center;
    max-width: 500px;    
    margin: 32px auto;
  }

  .header__description--customers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .customer__img {
    max-width: 400px;
    padding: 0;
  }

  .description__input--wrapper {
    margin: 0 auto;
  }

  
  .header__img {
    max-width: 500px;
    margin-top: 48px;
  }

  .service {
    width: 50%;
  }

  .quality__wrapper {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  #steps .row, #values .row {
    justify-content: center;
  }

  .steps__img {
    max-width: 500px;
  }

  .steps__description {
    margin-top: 48px;
  }

  .plan, .plan2 {
    width: 100%;    
  }

  .plans {
    align-items: center;;
  }
}
